/*
Ordem de Prioridade - Quanto mais especifico, a prioridade sera aplicada

Ordem de Prioridae
tag
classe
id
*/

#header {
    background-color: aquamarine;
}
#header div div {
    background-color:black;
}
#header div div a {
    background-color:red;
    color: cadetblue    
    
}
#header div div a {
    color: whitesmoke; 
}

.header {
    background-color: lightsalmon;
}
header div div  {
    background-color:brown;
}