@import 'buttons.css';
@import 'box.css';
@import 'display.css';
@import 'modal.css';
@import 'menu.css';
@import 'form.css';
body {
    padding: 20px;
    background-color: #f2f2f2;
    font-size: 36px;
    font-weight: 600;
}