/* Seletores de Tag*/
h1{
    background-color: blue
}
/* Seletores de ID*/
#header{
    background-color:green
}
#main{
    background-color:green
 
}
#footer{
    background-color:pink
}
/*Seletores de Classe*/
.logomarca{
    background-color:rgb(0, 255, 42)
}
